:root {
  --color-primary-1: #fff9ea;
  --color-primary-2: #ffe8b4;
  --color-primary-3: #f8d477;
  --color-primary-4: #ffe100;
  --color-primary-5: #ffcb45;
  --color-primary-6: #e9a209;

    --color-neutral-0:#fff;
   --color-neutral-1:#1d1d1d;
}

#home {
  min-height: calc(100vh - 91px);
  display: flex;
  position: relative;
}
#cta {
  width: 35%;
  flex-direction: column;
  display: flex;
  gap: 28px;
  margin-top: 5%;
}
#cta .title {
  font-size: 4rem;
  color: var(--color-neutral-1)
}
#cta .title span {
  color: var(--color-primary-6);
}
#cta .description {
  font-size: 1.2rem;
}
#cta-buttons {
  display: flex;
  gap: 24px;
}

 #phone-button {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-neutral-0);
  padding: 8px 14px; 
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

}
#phone-button button {
  box-shadow: none;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;
  z-index: 2;
}

#banner img {
  height: 100%;
  width: fit-content;
}
.shape {
  background-color: var(--color-primary-2);
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 0;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 1170px) {
  #home {
    min-height: 100%;
    padding-top: 0px;
  }
  #banner,
  #banner img,
  #home .shape {
    display: none;
  }
  #cta {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  #phone-button button {
    display: none;
  }
}
